<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>Setup Help Session (optional)</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to Python Programming</td> <td> <a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html">1. Running and Quitting</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html">2. Variables and Assignment</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">3. Data Types and Type Conversion</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html">4. Built-in Functions and Help  </td> </tr>
      <tr> <td>10:30</td>  <td>BreakVariables and Assignment		
      How can I store data in programs?</td> </tr>
      <tr> <td>09:35</td>  <td>Data Types and Type Conversion	
      What kinds of data do programs store? How can I convert one type to another?</td> </tr>
      <tr> <td>09:55</td>  <td>Built-in Functions and Help	
      How can I use built-in functions? How can I find out what they do? What kind of errors can occur in programs?</td> </tr>
      <tr> <td>10:20</td>  <td>Coffee Break</td> </tr>
      <tr> <td>10:35</td>  <td>Libraries	How can I use software that other people have written?How can I find out what that software does?</td> </tr>
      <tr> <td>10:55</td>  <td>Reading Tabular Data into DataFrames	How can I read tabular data?</td> </tr>
      <tr> <td>11:15</td>  <td>Pandas DataFrames	How can I do statistical analysis of tabular data?</td> </tr>
      <tr> <td>11:45</td>  <td>Plotting	How can I plot my data? How can I save my plot for publishing?</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>13:15</td>  <td>Lists	How can I store multiple values?</td> </tr>
      <tr> <td>13:35</td>  <td>For Loops	How can I make a program do many things?</td> </tr>
      <tr> <td>14:00</td>  <td>Looping Over Data Sets	How can I process many data sets with a single command?</td> </tr>
      <tr> <td>14:15</td>  <td>Writing Functions	How can I create my own functions?</td> </tr>
      <tr> <td>14:40</td>  <td>Variable Scope	How do function calls actually work? How can I determine where errors occurred?</td> </tr>
      <tr> <td>15:00</td>  <td>Coffee Break</td> </tr>
      <tr> <td>15:15</td>  <td>Conditionals	
      How can programs do different things for different data?</td> </tr>
      <tr> <td>15:40</td>  <td>Programming Style	
      How can I make my programs more readable? How do most programmers format their code? How can programs check their own operation?</td> </tr>
      <tr> <td>16:10</td>  <td>Wrap-Up	
      What have we learned? 
      What else is out there and where do I find it?</td> </tr>
      <tr> <td>16:30</td>  <td>Feedback	
      How did the class go?</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Setup Help Session (optional)</td> </tr>
      <tr> <td>09:00</td>  <td>Introducing the Shell</td> </tr>
      <tr> <td>09:05</td>  <td>Navigating Files and Directories</td> </tr>
      <tr> <td>09:45</td>  <td>Working With Files and Directories</td> </tr>
      <tr> <td>10:35</td>  <td>Pipes and Filters</td> </tr>
      <tr> <td>11:10</td>  <td>Coffee Break</td> </tr>
      <tr> <td>11:25</td>  <td>Git: Automated Version Control</td> </tr>      
      <tr> <td>11:30</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>11:35</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>11:45</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>12:20</td>  <td>Lunch</td> </tr>
      <tr> <td>13:20</td>  <td>Exploring History</td> </tr>
      <tr> <td>13:35</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>13:40</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>14:10</td>  <td>Collaborating</td> </tr>
      <tr> <td>14:35</td>  <td>Coffee Break</td> </tr>
      <tr> <td>14:50</td>  <td>Conflicts</td> </tr>
      <tr> <td>15:05</td>  <td>Open Science</td> </tr>
      <tr> <td>15:15</td>  <td>Licensing</td> </tr>
      <tr> <td>15:20</td>  <td>Citation</td> </tr>
      <tr> <td>15:25</td>  <td>Hosting</td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
