<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td>  <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td>  <td>  </td> </tr>
      <tr> <td>08:00</td>  <td>Setup Help Session (optional)</td>  <td></td></tr>
      <tr> <td>09:00</td>  <td>Workshop Introduction</td>  <td>- Instructor and Student Introductions<br>
      															- Code of Conduct<br>
      														 	- Stickies<br>
      														 	- Etherpad</td> </tr>
      <tr> <td>09:15</td>  <td>Introduction to Python Programming</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html">1. Running and Quitting</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html">2. Variables and Assignment</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">3. Data Types and Type Conversion</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html">4. Built-in Functions and Help</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td></tr>		
      <tr> <td>10:45</td>  <td>Data Processing and Plotting in Python</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html">6. Libraries</a><br>
      																			 <a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html">7. Reading Tabular Data into DataFrames</a><br>
      																			 <a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html">8. Pandas DataFrames</a><br>
      																			 <a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html">9. Plotting</a></td> </tr>	
      
      <tr> <td>12:00</td>  <td>Lunch</td></tr>
      <tr> <td>13:00</td>  <td>Lists and For Loops</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html">11. Lists</a><br>
      														<a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html">12. For Loops</a><br>
      														<a href="http://swcarpentry.github.io/python-novice-gapminder/13-looping-data-sets/index.html">13. Looping Over Data Sets</a></td> </tr>
      <tr> <td>14:00</td>  <td>Break</td></tr>
      <tr> <td>14:20</td>  <td>Functions and Conditionals</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-writing-functions/index.html">14. Writing Functions</a><br>
      															<a href="http://swcarpentry.github.io/python-novice-gapminder/15-scope/index.html">15. Variable Scope</a><br>
      															<a href="http://swcarpentry.github.io/python-novice-gapminder/17-conditionals/index.html">17. Conditionals</a></td> </tr>
      																				
      <tr> <td>16:00</td>  <td>Mini-break</td> </tr>
      <tr> <td>16:05</td>  <td>Programming Style</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style/index.html">17. Programming Style</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-Up </td>  <td>How did the class go? <br> 
      											General thoughts of the day<br>
      											Stickies </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Setup Help Session (optional)</td> </tr>
      <tr> <td>09:00</td>  <td>Introducing the Shell</td> </tr>
      <tr> <td>09:05</td>  <td>Navigating Files and Directories</td> </tr>
      <tr> <td>09:45</td>  <td>Working With Files and Directories</td> </tr>
      <tr> <td>10:35</td>  <td>Pipes and Filters</td> </tr>
      <tr> <td>11:10</td>  <td>Coffee Break</td> </tr>
      <tr> <td>11:25</td>  <td>Git: Automated Version Control</td> </tr>      
      <tr> <td>11:30</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>11:35</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>11:45</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>12:20</td>  <td>Lunch</td> </tr>
      <tr> <td>13:20</td>  <td>Exploring History</td> </tr>
      <tr> <td>13:35</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>13:40</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>14:10</td>  <td>Collaborating</td> </tr>
      <tr> <td>14:35</td>  <td>Coffee Break</td> </tr>
      <tr> <td>14:50</td>  <td>Conflicts</td> </tr>
      <tr> <td>15:05</td>  <td>Open Science</td> </tr>
      <tr> <td>15:15</td>  <td>Licensing</td> </tr>
      <tr> <td>15:20</td>  <td>Citation</td> </tr>
      <tr> <td>15:25</td>  <td>Hosting</td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
