<div class="row">
  <div class="col-md-6">
    <h3>Day 1: <a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a></h3>
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>- Download 
      [python-novice-gapminder-data.zip]({{page.root}}/files/python-novice-gapminder-data.zip) 
      and move the file to your Desktop<br>
      							- <a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td></tr>
      <tr> <td>08:00</td>  <td>Setup Help Session (optional)</td>  <td></td></tr>
      <tr> <td>09:00</td>  <td>Workshop Introduction</td>  <td>- Instructor and Student Introductions<br>
      															- Code of Conduct<br>
      														 	- Stickies<br>
      														 	- Etherpad</td> </tr>
      <tr> <td>09:15</td>  <td>Introduction to Python Programming</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html">1. Running and Quitting</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html">2. Variables and Assignment</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">3. Data Types and Type Conversion</a><br>
      																		<a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html">4. Built-in Functions and Help</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td>  <td></td> </tr>		
      <tr> <td>10:45</td>  <td>Data Processing and Plotting in Python</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html">6. Libraries</a><br>
      																			 <a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html">7. Reading Tabular Data into DataFrames</a><br>
      																			 <a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html">8. Pandas DataFrames</a><br>
      																			 <a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html">9. Plotting</a></td> </tr>	
      
      <tr> <td>12:00</td>  <td>Lunch</td>  <td></td> </tr>
      <tr> <td>13:00</td>  <td>Lists and For Loops</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html">11. Lists</a><br>
      														<a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html">12. For Loops</a><br>
      														<a href="http://swcarpentry.github.io/python-novice-gapminder/13-looping-data-sets/index.html">13. Looping Over Data Sets</a></td> </tr>
      <tr> <td>14:00</td>  <td>Break</td>  <td></td> </tr>
      <tr> <td>14:20</td>  <td>Functions and Conditionals</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-writing-functions/index.html">14. Writing Functions</a><br>
      															<a href="http://swcarpentry.github.io/python-novice-gapminder/15-scope/index.html">15. Variable Scope</a><br>
      															<a href="http://swcarpentry.github.io/python-novice-gapminder/17-conditionals/index.html">17. Conditionals</a></td> </tr>
      																				
      <tr> <td>16:00</td>  <td>Mini-break</td>  <td></td> </tr>
      <tr> <td>16:05</td>  <td>Programming Style</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style/index.html">17. Programming Style</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-Up </td>  <td>- How did the class go? <br> 
      											- General thoughts of the day<br>
      											- Stickies </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: <a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></h3>
    <table class="table table-striped">
      <tr> Before</td>  <td> - Download <a href="https://drive.google.com/file/d/1-mEPnK6oA_S8X38zA6MPErLBBv-76pVN/view?usp=sharing">data-shell.zip</a> and move the file to your Desktop.</td></tr>
      <tr> <td>08:40</td>  <td>Setup Help Session</td>   <td>Recommended for Windows users</td> </tr>
      <tr> <td>09:00</td>  <td>Day 2 Welcome</td>  <td>- Day 1 Recap<br>
      													- Day 2 Introduction<br>
      													- "What are you hoping to learn today?"</td> </tr>
      <tr> <td>09:10</td>  <td>Introduction to Unix</td>  <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html">1. Introducing the Shell</a><br>
      														  <a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">2. Navigating Files and Directories</a><br>
      														  <a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">3. Working With Files and Directories</a></td> </tr>
      <tr> <td>10:45</td>  <td>Break</td>  <td></td> </tr>
      <tr> <td>11:00</td>  <td> Pipes, Filters, and For Loops</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">4. Pipes and Filters</a><br>
      																	<a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html">5. Loops</a></td> </tr>     																	
      <tr> <td>12:25</td>  <td>Lunch</td>  <td></td> </tr>
      <tr> <td>13:25</td>  <td>Shell Scripting</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">6. Shell Scripts</a></td> </tr>
      <tr> <td>14:10</td>  <td>Break</td>  <td></td></tr>
      <tr> <td>14:30</td>  <td>Finding Things</td>  <td><a href="http://swcarpentry.github.io/shell-novice/07-find/index.html">7. Finding Things</a></td> </tr>
      <tr> <td>15:15</td>  <td>Wrap-up</td> <td>- Stickies: One thing you liked, one thing you thought could be better<br>
      											- <a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
